{% for key, value in data %}
import {{key | title}}Entity from './{{key}}.Entity';
export {default as {{key | title}}Entity, {{value.exports|join:","}} } from './{{key}}.Entity';
{% endfor %}

export default [{% for key, value in data %}{{key | title}}Entity,{% endfor %}];
