name: Build, Push Docker Image for runner and migrator

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install ginger-apps
      run: bash -c "$(curl -fsSL https://raw.githubusercontent.com/ginger-society/infra-as-code-repo/main/rust-helpers/install-pipeline-clis.sh)"

    - name: Authenticate with ginger-auth
      id: ginger-auth
      run: ginger-auth token-login ${{ secrets.GINGER_TOKEN }}

    - name: Update status to running
      run: ginger-connector update-pipeline stage running

    - name: Log in to Docker Hub
      run: echo "${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}" | docker login -u "${{ secrets.DOCKER_HUB_USERNAME }}" --password-stdin

    - name: Build Docker image for runtime
      run: |
        docker buildx build -t ${{ secrets.DOCKER_HUB_USERNAME }}/db-compose-runtime:latest . --build-arg GINGER_TOKEN=${{ secrets.GINGER_TOKEN }}

    - name: Push Docker image for runtime
      run: docker push ${{ secrets.DOCKER_HUB_USERNAME }}/db-compose-runtime:latest

    - name: Build Docker image for migrator
      run: |
        docker buildx build -t ${{ secrets.DOCKER_HUB_USERNAME }}/db-compose-migrator:latest -f Dockerfile.migrator . --build-arg GINGER_TOKEN=${{ secrets.GINGER_TOKEN }}

    - name: Push Docker image for migrator
      run: docker push ${{ secrets.DOCKER_HUB_USERNAME }}/db-compose-migrator:latest

    # Step to authenticate with GCP
    - name: Authenticate with GCP
      uses: google-github-actions/setup-gcloud@v2
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}  # Your GCP Project ID
        version: 'latest'  # Specify the version to use

    - name: Set up Google Cloud Application Credentials
      run: echo "${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}" | base64 --decode > ${{ github.workspace }}/gcloud-key.json

    - name: Authenticate with Google Cloud
      run: |
        gcloud auth activate-service-account --key-file=${{ github.workspace }}/gcloud-key.json

    - name: Update Cloud Run Image - db-compose-runtime-test-env
      run: |
        echo "Updating Cloud Run service with the new image"
        gcloud run services update db-compose-runtime-test-env \
          --image gingersociety/db-compose-migrator:latest \
          --platform managed \
          --region asia-south1 \
          --quiet  # Add --quiet to skip confirmation prompts

    - name: Publish stage using ginger-connector
      run: ginger-connector publish stage

    - name: Update status to passing
      run: ginger-connector update-pipeline stage passing

    - name: Trigger dependent pipelines
      run: ginger-connector trigger-dependent-pipelines ${{ secrets.GH_TOKEN }}
